#pics img {
  width: 600px;
}

#pics {
  border: whitesmoke 2px solid;
}

body {
  background-color: black;
}

#img1:hover {
  opacity: 0;
}

#img2 {
  position: absolute;
  left: 50px;
}

#img2:hover {
  opacity: 0;
}

#img3 {
  position: absolute;
  left: 100px;
}

#img3:hover {
  opacity: 0;
}

#img4 {
  position: absolute;
  left: 150px;
}

#img4:hover {
  opacity: 0;
}

#img5 {
  position: absolute;
  left: 200px;
}

#img5:hover {
  opacity: 0;
}

#img6 {
  position: absolute;
  left: 250px;
}

#img6:hover {
  opacity: 0;
}

#img7 {
  position: absolute;
  left: 300px;
}

#img7:hover {
  opacity: 0;
}
