#container {
  width: 1440px;
  background-color: blueviolet;
}

.blogPost {
  background-color: aquamarine;
  width: 75%;
}

#others {
  background-color: bisque;
  width: 25%;
}

#author {
  border: 1px red solid;
}
